.env
docker-compose.override.yml
vaultwarden/docker-compose.override.yml
minio/docker-compose.override.yml
syncthing/docker-compose.override.yml
nomad/docker-compose.override.yml

caddy/config/caddy
caddy/data/caddy

pihole/**/*
!pihole/etc-pihole/.empty
!pihole/docker-compose.yml
!pihole/unbound.conf
!pihole/up.sh
!pihole/down.sh

vaultwarden/**/*
!vaultwarden/vwdata/.empty
!vaultwarden/docker-compose.yml
!vaultwarden/up.sh
!vaultwarden/down.sh

minio/data/**/*
!minio/data/.empty
!minio/up.sh
!minio/down.sh

syncthing/config/**/*
!syncthing/config/.empty
syncthing/data/**/*
!syncthing/data/.empty
!syncthing/up.sh
!syncthing/down.sh

openwebui/docker-compose.override.yml
immich/docker-compose.override.yml

!openwebui/docker-compose.yml
!openwebui/docker-compose.override.yml.template
!openwebui/setup.sh
!openwebui/up.sh
!openwebui/down.sh

!immich/docker-compose.yml
!immich/docker-compose.override.yml.template
!immich/setup.sh
!immich/up.sh
!immich/down.sh

!nomad/docker-compose.yml
!nomad/docker-compose.override.yml.template
!nomad/setup.sh
!nomad/up.sh
!nomad/down.sh

crafty/docker-compose.override.yml
crafty/docker/**/*

!crafty/docker-compose.yml
!crafty/docker-compose.override.yml.template
!crafty/up.sh
!crafty/down.sh

ShinobiDocker/Shinobi/**/*
ShinobiDocker/ShinobiSQL/**/*
