HOSTNAME=yourhostname
TOKEN=your_duckdns_token

# Vaultwarden
VAULTWARDEN_ADMIN_TOKEN=your_vaultwarden_admin_token

# MinIO
MINIO_ROOT_USER=yourminioadmin
MINIO_ROOT_PASSWORD=yourminiopassword

# Project NOMAD
NOMAD_APP_KEY=your_nomad_app_key
NOMAD_DB_PASSWORD=your_nomad_db_password
NOMAD_MYSQL_ROOT_PASSWORD=your_nomad_mysql_root_password
NOMAD_URL=https://nomad.yourhostname.duckdns.org