(duckdns_tls) {
    tls {
        dns duckdns {$TOKEN}
        resolvers 8.8.8.8
    }
}

{$HOSTNAME}.duckdns.org {
    import duckdns_tls

    root * /usr/share/caddy
    file_server
    encode gzip zstd

    handle_path /vaultwarden* {
        reverse_proxy vaultwarden:80
    }
}

pihole.{$HOSTNAME}.duckdns.org {
    import duckdns_tls
    reverse_proxy pihole:80
}

minio.{$HOSTNAME}.duckdns.org {
    import duckdns_tls
    reverse_proxy minio:9001
}
