{$HOSTNAME}.duckdns.org {
    tls {
        dns duckdns {$TOKEN}
    }

    root * /usr/share/caddy
    file_server
    encode gzip zstd
    
    handle_path /vaultwarden* {
        reverse_proxy vaultwarden:80
    }

    handle_path /nginx* {
        reverse_proxy nginx:80
    }
}

pihole.{$HOSTNAME}.duckdns.org {
    tls {
        dns duckdns {$TOKEN}
    }

    reverse_proxy pihole:80
}


minio.{$HOSTNAME}.duckdns.org {
    tls {
        dns duckdns {$TOKEN}
    }

    reverse_proxy minio:9001
}