{$HOSTNAME}.duckdns.org {
    tls {
        dns duckdns {$TOKEN}
    }
    
    handle_path /vaultwarden* {
        reverse_proxy vaultwarden:80
    }

    handle_path /nginx* {
        reverse_proxy nginx:80
    }

    #handle_path /pihole* {
    #    reverse_proxy pihole:80
    #    rewrite * pihole/admin{uri}
    #}
}

pihole.{$HOSTNAME}.duckdns.org {
    tls {
        dns duckdns {$TOKEN}
    }

    reverse_proxy pihole:80
}